<!DOCTYPE html>
        <html style="margin: 0; padding: 0;">

        <body style="margin: 0; padding: 150px; padding-top: 0; padding-bottom: 0; text-align: center">
            <div style="background: #f5f5f5; padding: 50px">
                
                <div style="margin-top: 10px; text-align: left;">
                    <p style="font-size: 18px; margin-bottom: 0; text-align:center;">We received a request to reset your {{APP_NAME}} password.</p><br />
                    
                </div>
                <div>
                    <a href="{{URL}}" style="background-color: #02A1BD; color: white; border-radius: 25px; font-size: 18px; padding-left: 40px; text-decoration: none; padding-right: 40px; padding-top: 10px; padding-bottom: 10px">Reset Password</a>
                </div>
                <div>
                   
                    
                </div>
                <div style="padding-bottom: 20px; text-align: left">
                    <div>
                        <p style="margin: 0; font-size: 15px;">Sincerely,</p>
                    </div>
                    <div>
                        <p style="margin: 0; font-size: 15px;">{{APP_NAME}} Team</p>
                    </div>
                    <div>
                        <p style="margin: 0; font-size: 15px;">{{APP_URL}}</p>
                    </div>
                </div>
            </div>
        </body>
        </html>